[Unit]
Description=A NETCONF server on top of sysrepo
After=syslog.target network.target sysrepod.service
Requires=sysrepod.service
PartOf=sysrepod.service

[Service]
Type=forking
ExecStart=/usr/local/bin/netopeer2-server -v 1
PIDFile=/var/run/netopeer2-server.pid
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=yes
ProtectHome=yes
SystemCallArchitectures=native
Restart=always

[Install]
WantedBy=multi-user.target
